extends layout

block content
  .header
    .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
      a(class='pure-menu-heading', href='') Connected Cat
      ul
        li(class='pure-menu-selected')
          a(href='#') Home
        li
          a(href='#') Tour
        li
          a(href='#') Sign up
  .splash-container
    .splash
      #map.splash-head
      img(src='/media/cat_icon.png', height='128', width='128', class='splash-subhead')
  .content-wrapper
    .content
      h1 Testing...
